/**
 * Created by jonathan on 4/27/17.
 */
html {
    height: 100%;
    margin: 0px;
}
body {
    height: 100%;
    margin: 0px;
    padding: 0px;
}
div {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    padding: 0px;
}
/*******************************************/
/**************information******************/
/*******************************************/
.information {
    height: 100%;
    background-image: url("img/accordReseize.jpg");
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.information p {
    margin: 0px;
    padding: 0px;
    color: #FFFFFF;
}

.transparency {
    height: 100%;
    background-color: rgba(8, 8, 8, 0.56);
}
.ta-c {
    text-align: center;
}
.profile {
    color: #FFFFFF;
    text-align: right;

}

.imgProfile {

}

.imgProfile img {
    border-radius: 70px;
}

.title {
    color : #FFFFFF;
    text-align: left;
}
.bio {
    width: 100%;
    margin-top: 120px;
}
.sub-bio {
    background-color: rgba(47, 37, 37, 0.68);
    color: #FFFFFF;
    width: 85%;
    padding: 28px;
}

.bio p {
    text-align: justify;
}

/*******************************************/
/**************experience*******************/
/*******************************************/

.experience {
    height: 100%;
    background-image: url("img/getting-work-done-twago.png");
}

.sub-experience {
    width: 85%  ;
    position: relative;
}


.company h1 {
    margin-top: 5px;
    margin-left: 15px;
    margin-bottom: 0px;
    float: left;
}

.company .date {
    margin-right: 15px;
    float: right;
}

.company .title {
    margin-top: 60px;
    text-align: center;
    font-size: 25px;
}

.company .description {
    margin-right: 15px;
    margin-left: 15px;
}
.sub-block {
    height: 100%;
    width: 100%;
    background-color: rgba(74, 74, 74, 0.91);
    color: #FFFFFF;
    overflow: hidden;
}

.krealinks {
    position: absolute;
    top: 0px;
    left: 0px;
    background-image: url("img/KREALINKS_logo1-big.png");
}

.webapp {
    position: absolute;
    top: 0px;
    background-image: url("img/logo-webapp.png");
}

.ageval {
    position: absolute;
    top: 0px;
    right: 0px;
    background-image: url("img/logo-ageval.png");
}

.sncf {
    position: absolute;
    top: 250px;
    left: 0px;
    background-image: url("img/Logo_SNCF.svg.png");
}

.jrled {
    position: absolute;
    top: 250px;
    background-image: url("img/loog-jrleds.png");
}

.macdonald {
    position: absolute;
    top: 250px;
    right: 0px;
    background-image: url("img/logo-macdonald.png");
}

/*******************************************/
/*************** skill *********************/
/*******************************************/

.skill {
    height: 100%;
    width: 100%;
    background-image: url("img/skill.jpg");
}
.sub-skill {
    width: 85%;
    height: 100%;
    position: relative;
}
.diploma {
    /*position: absolute;*/
    /*z-index: 10000;*/
    width: 100%;
    /*height: 20%;*/
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 5px;
    border: 3px solid #545656;
}

.arrow {
    position: absolute;
    width: 60px;
    border: 2px solid #545656;
    border-radius: 0px 0px 35px 35px;
}
.arrowImg {
    margin-left: 4px;
    width: 52px;
}
.arrowRotation {
    transform: rotate(180deg);
}

.diplomaOne, .diplomaTwo, .diplomaThree {
    height: 32%;
    width: 100%;
    border: 1px solid #545656;
    background-color: #f9f9f9;
    position: relative;
}
.diplomaOne img {
    width: 100px;
    float: left;
}
.diplomaOne h1 {
    margin: 0px 30px 0px 30px;
}
.diplomaOne .date {
    float: right;
    margin: 10px 10% 0px 30px;
    font-size: 30px;
    font-weight: 900;
}
.diplomaTwo {
    height: 120px;
}
.diplomaThree {
    height: 120px;
}
.skillDev {
    width: 100%;
    height: 80%;
    background-color: rgba(71, 71, 71, 0.6);
}
.skillDevSoft {
    width: 70%;
    height: 100%;
}

.skillDevLan {
    width: 30%;
    height: 70%;
}
.skillDevLan h1 {
    margin-bottom: 5px;
}

.skillDevLan h2 {
    margin-top: 5px;
    margin-left: 20px;
    margin-bottom: 10px;
}
.skillDevLan p{
    margin-top: 0px;
    margin-left: 20px;
    margin-bottom: 0px;
}

.skillDevProject {
    width: 30%;
    height: 30%;
}

.progress {
    display: inline-block;
    position: relative;
    width: 110px; height: 110px;
}

.img-logo {
    position: absolute;
    top: 26px; left: 26px;
    width: 60px; height: 60px;
}
#subBar1, #subBar2, #subBar3, #subBar4, #subBar5, #subBar6, #subBar7 {
    position: absolute;
    z-index: 50;
    top: 0; left: 0;
}

#bar1, #bar2, #bar3, #bar4, #bar5, #bar6, #bar7 {
    position: absolute;
    z-index: 100;
    top: 0; left: 0;
}




/*******************************************/
/************** generic ********************/
/*******************************************/

.d-ib {
    display: inline-block;
}

.ds-f-c {
    display: flex;
    justify-content: center;
}

.s-150-150 {
    height: 150px;
    width: 150px;
}

.s-270-150 {
    height: 250px;
    width: 33%;
}

s-h-100-p {
    height: 100%;
}

.fs-20 {
    font-size: 20px;
}

.ft-L {
    float: left;
}

.ft-R {
    float: right;
}

.s-w-350-px {
    width: 350px;
}

.bg-c-W {
    background-color: rgba(216, 210, 210, 0.48);
}

.mrg-top-50-px {
    margin-top: 50px;
}

.mrg-top-8-px {
    margin-top: 8px;
}

.mrg-top-20-px {
    margin-top: 20px;
}
.bg-c-grey-s-100-100 {
    background-color: #292929;
    background-size: 100% 100%;
}

.hidden {
    display: none;
}
